/* .btn-primary {
    color: #fff;
    background-color: #ef5720 !important;
    border-color: #ff4444 !important;
  }
  .btn-secondary{
    color: #fff !important;
    background-color: #ef5720 !important;
    border-color: #ff4444 !important;
  }
  .widget{
    border: 1px solid #ef57204a !important;
  }

  .layout-side-section{
    border-right: 1px solid #0000004a !important;
    background-color: #c133000d;
  }
.page-container{
 
  border: 1px solid #ef57204a !important;
}

.desk-sidebar-item
{
 
  border-bottom: 1px solid #ef57204a !important;
  margin-top:15px;
  
} */
/* .standard-sidebar-item
{
 
  color: #ff4444 !important;
  
} */
/* .page-head
{
  border-bottom: 1px solid #0d0c0c4a !important;
}
.page-body {
  max-width: 100%;
} */
/* body {

      filter: invert(100%);
 
      background-color: #000000;
  }

  button,img, .app-icon {
      filter: invert(100%);
  } */
 

  /* og section */
   
  .page-body {
    max-width: 90%;
  }
  .btn-primary {
    color: #fff;
    background-color: #ef5720 !important;
    border-color: #ff4444 !important;
  }
  .btn-secondary{
    /* color: #fff !important;
    background-color: #ef5720 !important;
    border-color: #ff4444 !important; */
    border: 1px solid #ef57204a !important;
  }
  .widget{
    border: 1px solid #ef57204a !important;
  }
  .layout-side-section{
    border-right: 1px solid #0000004a !important;
   
  } 
  .btn-new{
    background-color: #f4f5f6 !important;
  }




  